/********************************************
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********
* Main CSS *
************/
body {
	font-family: raleway, sans-serif;
	font-size: 16px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar {
	width: 100%;
	/*align-self: flex-end;*/
	margin-bottom: 0;
	transition: all 500ms;
	overflow-x: scroll;
	order: 2;
	z-index: 2;

}
.cat-list {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.cat-list li {
	border-left: 5px solid white;
	background: #e0e0ea;
	text-align: center;

}

.cat-list li:hover {
	cursor: pointer;
	background: #cacada;
}

.cat-list li:hover .cat-thumb{
	transform: translateY(-3px);
	transform: rotate(30deg);
}


.cat-list p {
	font-size: 1.2em;
	line-height: 1.5em;
	display: inline-block;
	vertical-align: middle;
}

.cat-thumb {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	transition: all 500ms;
	transition-timing-function: ease-out;
}

.cat-presentation {
	width: 100%;
	flex: 2;
	text-align: center;

}

.cat-container {
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cat-name {
	font-size: 2em;
	margin-bottom: 1vh;

}

.cat {
	width: 80%;
	margin: 0 auto;
}


.counter {
	font-size: 50px;
	margin-top: 30px;
}

.hide {
	display: none;
}

#modal-outer {
	position: absolute;
	z-index: 2;
	background: #5d434387;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-around;
}

.modal-inner {
	background: #e0e0ea;
	width: 70%;
	max-width: 350px;
	padding: 50px 50px 20px;
}

.modal-label {
	display: block;
	color: #6d6d6d;
	transform: translate(5px, -30px);
	transition: all 300ms;
}

.modal-input {
	width: 100%;
	height: 35px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 15px;
	border: none;
}

.submit {
	width: 100%;
}

.move-up {
	transform: translate(-5px, -60px);
	color: #4e4e4e;
}

#submit {
	background: #407b7b;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	border : none;
	transition: all 500ms;
	font-family: raleway;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #ffffff;
	font-size: 1.1em; 
}

#submit:hover, 
#submit:active {
	background: #5aa2a2;
}

#cancel {
	color:  #4e4e4e;
	font-style: italic;
	display: block;
	text-align: center;

}

#cancel {
	color:  #4e4e4e;
	font-style: italic;
	display: block;
	text-align: center;

}

#cancel:hover, 
#cancel:active {
	color:  #b71111;
}

.flex {
	display: flex;
}

.hide {
	display: none;
}

#admin {
	position: fixed;
}

@media screen and (min-width: 550px) {
	body {
		font-family: sans-serif;
		font-size: 16px;
		display: block;
		position: relative;
	}

	.nav {
		position: fixed;
	}


	.sidebar {
		width: 250px;
		position: fixed;
		overflow: hidden;
		height: 100%;
	}
	.cat-list {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.cat-list li {
		padding-left: 10px;
		border-bottom: 5px solid white;
		background: #e0e0ea;
	}

	.cat-list p {
		font-size: 1.2em;
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
	}

	.cat-thumb {
		width: 120px;
		line-height: 50px;
		display: inline-block;
		vertical-align: middle;
		transition: all 500ms;
		transition-timing-function: ease-out;
	}

	.cat-presentation {
		height: 100vh;
		position: fixed;
	}

	.cat-container {
		height: 100%;
		width: 70%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cat-name {
		font-size: 3em;
		margin-bottom: 3vh;

	}

	.cat {
		width: 50%;
	}


	.counter {
		font-size: 50px;
		margin-top: 30px;
	}



}	

}